<launch>
        <arg name="model" default='$(find anrobot)/urdf/static.urdf' />
        <param name="robot_description" textfile="$(arg model)" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find anrobot)/urdf.rviz" required="true" />
</launch>

